{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Editor</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script defer src="{% static 'js/script.js' %}"></script>
</head>
<body>
<h1>Text Editor</h1>

<label for="userInput"></label><textarea id="userInput" rows="4" cols="50"></textarea>

<div>
    <button onclick="saveText()">Save</button>
    <button onclick="copyToClipboard()">Copy to Clipboard</button>
</div>

<div id="predictionList"></div>
<script>
    let generatePredictionsUrl = "{% url 'generate_predictions' %}";
     function sendRequest() {
            let text = userInput.value;

            $.ajax({
                type: "POST",
                url: generatePredictionsUrl,
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    user_input: text,
                },
                success: function (response) {
                    completedWords = response.completed_words;
                    displayPredictions(completedWords);
                    updateInputHistory(text);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

</script>
</body>
</html>
